@use 'components.scss';
@use 'mixins.scss' as *;
@use 'color.scss' as *;

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $green-2;

     @include tablet {
        background-color: $blue-2;
    }

    @include laptop {
        background-color: $pink-1;
    }
}